<div fxLayout="row" class="centerLogin">
  <div
    fxFlex="40" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="40" fxFlex.lg="40"
    fxFlexOffset.sm="25" fxFlexOffset.md="30" fxFlexOffset.lg="30" >
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm">
              <div class="form-group">
                <mat-form-field class="example-form-field" appearance="fill">
                  <mat-label>Usuario</mat-label>
                  <input matInput type="text" formControlName="usuario">
                </mat-form-field>
                <mat-error *ngIf="loginForm.get('usuario').hasError('required') && loginForm.get('usuario').touched">
                  El usuario es requerido
                </mat-error>
              </div>
              <div class="contProgress">
                <p>Selecciona las tres imagenes de tu contraseña</p>
                <mat-progress-bar mode="determinate" [value]="progress" color="primary"></mat-progress-bar>
              </div>
              <div class="form-group">
                  <app-pass-icons
                    [passArray]="getPassArray"
                    (clicked)="selectedImg($event)"
                    class="passIcons" 
                    >
                  </app-pass-icons>
              </div>
              <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
                <button (click)="clear()" mat-raised-button class="btn btn-primary" color="accent" >limpiar</button>
                <button (click)="onSubmit()" mat-raised-button class="btn btn-primary" color="primary" [disabled]="loginForm.invalid">login</button>
              </div>
            </form>
        </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <div>valid</div>
<pre>{{loginForm.valid}}</pre>
<div>values</div>
<pre>{{loginForm.value | json}}</pre> -->
