mat-form-field{
    width: 100%;
}
.contProgress {
    margin-top: 20px;
    margin-bottom: 20px;
}
.passIcons {
    margin-top: 20px;
    margin-bottom: 20px;
}
.centerLogin {
    height: 100%;
    align-items: center
}
mat-card-title {
    text-align: center;
    margin-bottom: 40px;
}
button {
    width: 50%
}