<div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100" fxLayoutAlign="center center">
    <div *ngFor="let animal of animals" fxFlex="20" fxLayoutAlign="center center">
       <fa-icon
            (click)="onClick(animal)"
            [style]="'color:' + animal.color"
            [icon]="animal.icono">
        </fa-icon> 
    </div>
</div>


